<?DOCTYPE html?>
<html>
<head>
    <title>{{title}}</title>
    <script type="text/javascript" src="yui/config.js"></script>
    <script type="text/javascript" src="{{yui}}"></script>
</head>
<body>
    <script type="text/javascript">
        YUI().use('webrl-app', function(Y) {
        });
    </script>
</body>
</html>

