body {
    .main-view {
        .header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 3em;

            background-color: red;
        }
        .body {
            position: absolute;
            top: 3em;
            left: 0;
            right: 0;
            bottom: 1em;

            background-color: green;
        }
        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1em;

            background-color: blue;
        }
    }
}
